@using CvProject.Models.Entity
@model List<TblEgitimlerim>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Eğitim Listem</h3>
                        </div>
                        <div class="card-body">

                            <a href="/Yetenek/YeniYetenek/" class="btn btn-info">Yeni Eğitim Ekle</a>
                            <br />
                            <br />

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Baslik</th>
                                        <th>AltBaslik 1</th>
                                        <th>AltBaslik 2</th>
                                        <th>GNO</th>
                                        <th>Tarih</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var x in Model)
                                    {
                                        <tr>
                                            <td>@x.ID</td>
                                            <td>@x.Baslik</td>
                                            <td>@x.AltBaslik1</td>
                                            <td>@x.AltBaslik2</td>
                                            <th>@x.GNO</th>
                                            <th>@x.Tarih</th>
                                            <td><a href="/Yetenek/YetenekSil/@x.ID" class="btn btn-danger">Sil</a></td>
                                            <td><a href="/Yetenek/YetenekDüzenle/@x.ID" class="btn btn-success">Güncelle</a></td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>


